@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Amazon Ember';
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember';
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember';
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember';
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember';
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember';
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember';
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff)
      format('woff');
}
@font-face {
  font-family: 'Amazon Ember';
  font-style: italic;
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2)
      format('woff2'),
    url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff)
      format('woff');
}
@layer base {
  body {
    font-family: 'Amazon Ember', Arial, sans-serif;
  }
  html {
    font-size: 62.5%;
  }
  hr {
    background-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid #e7e7e7;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px !important;
    margin-top: 0;
  }
}
@layer components {
  .image-column {
    width: calc(0.41667 * (100vw - 8px));
  }
  .title-column {
    width: calc(0.58333 * (100vw - 8px));
  }
  .star {
    background-image: url(https://m.media-amazon.com/images/S/sash/ZNt8quAxIfEMMky.png);
    background-position: -0.2rem -4.1rem;
    background-size: 51.2rem 51.2rem;
    height: 1.8rem;
    width: 8rem;
    background-repeat: no-repeat;
  }
  .image-overlay-grey:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.03;
    pointer-events: none;
  }
  .price-symbol {
    top: -0.4em;
    font-size: 1.3rem;
    position: relative;
  }
  .price-whole {
    font-size: 2.2rem;
  }
  .price-fraction {
    top: -0.5em;
    font-size: 1.3rem;
    position: relative;
  }
  .price {
    font-size: 2.2rem;
    position: relative;
    color: #0f1111;
  }
  .prime-icon {
    background-image: url(https://m.media-amazon.com/images/S/sash/M9SSJsDj8YXHO4p.png);
    width: 5.3rem;
    height: 1.5rem;
    background-position: -18.5rem -18.2rem;
    background-size: 51.2rem 25.6rem;
  }
  .star-mini {
    background-image: url(https://m.media-amazon.com/images/S/sash/ZNt8quAxIfEMMky.png);
    background-position: -34rem -35.7rem;
    background-size: 51.2rem 51.2rem;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 6rem;
    top: 0.3rem;
  }
  .list {
    list-style-type: disc;
    margin-inline-start: 18px;
    font-size: 14px;
  }
  .embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 100%;
    padding: 1.6rem;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__button {
    z-index: 1;
    color: var(--background-site);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }
  .embla__button__svg {
    width: 65%;
    height: 65%;
  }
}
